.screen {
	text-align: cneter;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 140px);
	margin: auto;
}

.cell {
	width:  100px;
	height:  100px;
	background: red;
	display: inline-block;
	margin: 20px;
}
.clicked-cell {
	background: green;
}